body {
    font-size: 10pt;
    font-family: Helvetica, Arial, SunSans-Regular, Sans-Serif;
    color:#333333;
    margin-left: 5%;
}



hgroup h1>a {
    font-size: 30pt;
    font-family: Gill-Sans;
    color: #1F231F;
    text-decoration: none;
    padding-bottom: 0px;
}

hgroup{
	margin-left: 10px;
}

body>header h4 {
    margin-top: 10px;
}

/*Image settings*/
img{
    border-width: 0;
}

/*overal Wrapper for website*/
wrapper{
	display:block;
	background-color: white;
	max-width: 800px;
	min-width: 200px;
    margin-left:auto;
    margin-right:auto;
}

header{

    max-width: 800px;
    display: block;
    min-width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:white;
    padding-bottom: 0.5px;

}

h1,h2,h3,h4 {
    width: 100%;
    min-width: 200px;
}

h2{
	margin-left: 5px;
	font-size: 15pt;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	color: #2D3B1F;
	background-color: #2D3B1F;
	max-width: 800px;
	min-width: 200px;
}

pre {
    margin-left: 25px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E0FFE0;
    padding-left: 3px;
    padding-right: 3px;
}

table {
    vertical-align: top;
    border: none;
}

td {
    padding-left: 20px;
    vertical-align: top;
}

currvit{
    clear: both;
    display: block;
    max-width: 780px;
}

currvit table{
    vertical-align: top;
    border: none;
}

currvit table td {
    padding-left: 8px;
    text-align: justify;
    padding-right: 15px;
    vertical-align: top;
}

currvit h3 {
    padding-left: 5px;
    margin-bottom: 3px;
    padding-bottom: 0px;
}


a,
a:active{
    color: #1F231F;
}

a:visited{
    color: #1F231F;
}

a:hover {
    color: #4D5C4D;
}

main {

	background-color:white;
	min-width: 200px;
	max-width: 800px;
	min-height: 600px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 40px;
/*	display: block;*/
}

nav table{
	background-color: #4D5C4D;
	margin: 0,0,0,0;
	padding: 0;
	border: none;
	border-collapse:collapse;
}

nav td,
nav tr{
	border:0px;
	padding:0px;
	margin:0px;
}

nav {
/*	float: left;*/
	clear: both;
	display: inline;
	width:100%;
	min-width:200px;
	max-width: 780px;
/*	margin-bottom: 10px;*/
/*	min-width: 150px;*/
	display: block;
	margin-left:0px;
    	padding-left:0px;
}

nav li {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
}

nav a,
nav a:visited,
nav a:active{

    font-size: 12pt;
    display:block;
    padding-top:4px;
    padding-left:41px;
    padding-right:41px;
    padding-bottom:4px;
    font-weight:bold;
    color: white;
    background-color: #4D5C4D;
    text-decoration: none;
}


nav a:hover {

	background-color: #1F231F;
}


body#home a#homenav,
body#about a#aboutnav,
body#collab a#collabnav,
body#project a#projectnav,
body#scrap a#scrapnav,
body#contact a#connav {
	color: white;
	background-color: #1F231F;
}

body#Collaborations-post a#collabnav,
body#Scrap-post a#scrapnav,
body#Complete-Projects-post a#projectnav,
body#Ongoing-Projects-post a#projectnav{
    background-color: white;
    color: #1F231F;
}



footer {
	text-align: center;
    clear: both;
    font-size: 8pt;
	padding: 15px;
}

subfooter{
	clear: both;
	display: block;

}



article {
    margin: 5px;
    margin-top: 0px;
    min-width: 200px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
    text-decoration: none;
    color: #1F231F;
}

article h2>a:hover {
    color: #696969;
}

article .entry {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}

article .entry img {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 400px;
}

article header span {
    margin-left: 5px;
}

article header h2 {
}


section img {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    width: 400px;
}

section {
    margin-left: 5px;
}

/* scrapbook elements */



scrap{
	width:210px;
	margin-bottom: 2%;
	margin-left: 10px;
	margin-right: 10px;
	height: 260px;
	background-color:white;
}

scrap a,
scrap a:visited,
scrap a:active{
    	color:#1F231F;
	text-decoration: none;i
	padding 2px;
}



scrap img{
	display:block;
	margin-bottom: 5px;
}

scrap a,
scrap a:visited,
scrap a:active {
	color: #4D5C4D;
}

scrap a:hover{
        color: #1F231F;
}

scrap table{
    	background-color: #4D5C4D;
	table-layout: fixed;
	margin-bottom: 5px;
}

scrap td{
	padding: 8px;
}


scrap a>table,
scrap a:visited>table,
scrap a:active>table {
	font-size: 9pt;
	font-family: gill-sans;
	color: white;
}

scrap a:hover>table {
	background-color:black;
}

/*collab elements begin*/
collab{
    display:block;
    width:97%;
}

collab a,
collab a:visited,
collab a:active{
    color: white;
    background-color: #4D5C4D;
    text-decoration: none;
}


collab a:hover{
    background-color: #1F231F;
    color: white;
}

collab table{
    background-color:inherit;
    table-layout: fixed;
}


collab td,
collab tr{
    vertical-align: middle;
}
/*project elements*/

project{
	width:360px;
	padding:0px;
	margin-bottom: 2%;
	height: 160px;
	background-color:white;
}

project a,
project a:visited,
project a:active{
	color: white;
	background-color: #4D5C4D;
	text-decoration: none;i
	padding 2px;
}

project img{
	display:block;
}

project a:hover{
	background-color: #1F231F;
	color: white;
}

project table{
	border-collapse:collapse;
	background-color:inherit;
	table-layout: fixed;
	border: 0px;
	margin:0,0,0,0;
	padding: 0px;
}

project td,
project tr{
	padding:0px;
    	vertical-align: middle;
}

/*other-project elements*/


other-project{
	width:175px;
	margin-bottom: 2%;
	height: 240px;
	background-color:white;
}

other-project a,
other-project a:visited,
other-project a:active{
    	color:#1F231F;
	text-decoration: none;
	padding 2px;
}

other-project img{
	display:block;
	margin-bottom: 5px;
}

other-project a:hover{
	color: #4D5C4D;
}

other project table{
	background-color:inherit;
	table-layout: fixed;
}

other-project td,
other-project tr{
	padding:0px;
    	vertical-align: middle;
}

.rightbar{
	float:right;
}

