body{
/*    background-color: #070713;*/
    background-color: #050605;
/*    text-align: justify; */
}

h1{
    color: #bfcdd1;
}

wrapper{
    display:block;
    max-width: 550px;
    min-width: 200px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
/*    color: #CCA732;*/
    color: #bfcdd1;
} 

headbar{
    display:block;
    min-height:60px;
    width:100%;
}

wrapper h2{
    font-size: 12pt;
    text-align: right;
    font-family: Times, Serif;
}

wrapper tagline{
    font-size: 10pt;
    display: block;
/*    float: right;*/
    text-align: right;
    font-family: Times, Serif;
}

wrapper h3{
    font-size: 10.5pt;
    font-family: Helvetica, Arial, SunSans-Regular, Sans-Serif;
    color: #bfcdd1;
}

wrapper a{
    font-family: Helvetica, Arial, SunSans-Regular, Sans-Serif;
    color: #bfcdd1;
}

descblock{
    display: block;
    color: #bfcdd1;
}

descblock table{
    color: #bfcdd1;
}

descblock table td{
    vertical-align:top;
}

dataflds{
    min-width: 230px;
    max-width: 720px;
    font-size: 10pt;
    vertical-align:top;
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
}

dataflds p{
    display: block;
    min-height: 42pt;
}

dataflds li{
    margin-bottom: 0px;
}

li{
    margin-bottom: 9pt;
    text-align: justify;
}

descblock img{
    max-width: 170px;
    float: left;
    margin-right: 12px;
    margin-top: 6px;

}

ul{
    list-style: none;
    text-indent: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

lownav{
    font-size: 10pt;
    vertical-align:top;
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
}

lownav li{
    margin-bottom: 0px;
}
controls{
    font-size: 9pt;
    border-style: solid;
    border-color: #657475;
    background-color: #0b0c0b;
    display: inline;
    float: right;
    text-align: right;
    max-width: 120px;
    margin: 1px;
    margin-top: 10px;
    padding: 5px;
}

controls li{
    display: inline;
}

audholder{
    display: block;
    margin-left: auto;
    margin-right: 60px;
    float: center;
}

audio{
    display: block;
}

audholder{
    display: block;
    margin-left: auto;
    margin-right: 60px;
    float: center;
}

data table{
    background-color: #4D5C4D;
    margin: 0,0,0,0;
    padding: 0;
    border: none;
    border-collapse:collapse;
}

