<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="/style.css" /> 
        <link rel="stylesheet" href="/normalize.css" /> 
        <link rel="stylesheet" href="/normalize.min.css" /> 
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
        <link rel="stylesheet" href="/resources/css/grid.css"> 
        <!--[if IE 7]><link rel="stylesheet" href="/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>

    <body >
     <wrapper>
        <header>
	   <div id="header">
            <hgroup>

            <h1><a href="/">{{ site.name }}</a></h1>
<!--                <h4>{{ site.description }}</h4> --!>
            </hgroup>	
            <nav>
		<table><tr><td>
			<li><a href="/" id="homenav">Home</a></li>
<!--			<li><a href="/about" id="aboutnav">About</a></li> -->
			<li><a href="/collaborations" id="collabnav">Collaborations</a></li>
			<li><a href="/projects" id="projectnav">Projects</a></li>
			<li><a href="/scrapbook" id="scrapnav">Scrapbook</a></li>
			<li><a href="/publications" id="pubnav">Publications</a></li>
			<li><a href="/contact" id="connav">Contact</a></li>
		<tr></tr></table>

	    </nav>
	    </div>
        </header>


        <main>

            {{ content }}

        </main>

	<footer>
            <p>contact: info 'at' cliffhammett.com</p>
	</footer>
      </wrapper>
    </body>

</html>
