---
layout: default
---
<body id="{{ page.category }}-post">
    
    {% if page.headerimg and page.headerimg != "" %}
       	<img src="/resources/img/{{ page.headerimg }}" alt="{{ page.headeralt }}" width=97%></a>
    {% endif %}
    
    <article>
	 <h1>{{ page.title }}</h1>
       <div class="entry">
        {{ content }}
	</div>
        <footer><!-- additional info --></footer>

    </article>

{% for col in site.categories.collab %}
    {% if col.collabid == page.relatedcollab %}
        <h2>Part of...</h2>
        <partof>
           <a href="{{col.url}}"><img src="/resources/img/{{ col.thumbimg }}" alt="{{ col.alt }}" width=100%>
           <table width=100%>
           <tr>
                 <td width=40%>
             <h2>{{ col.title }}</h2>
            </td>
            <td width=60%>
            <div class="entry">{{ col.excerpt }}</div>
            </td>
            </tr>
            </table>
            </a>
        </partof>
    {% endif %}
{% endfor}

{% assign has_title = false %}
{% for post in site.categories.scrap %}
 
    {% if post.relatedproject contains {{page.projectid}} %}
         <h2>{{ page.title }} scrapbook</h2>
	{% assign has_title = true %}
	{% break %}
    {% endif %}
{% endfor %}


{% if has_title == false %}
    {% for post in site.categories.scrap-archive %}
        {% if post.relatedproject contains {{page.projectid}} %}
             <h2>{{ page.title }} scrapbook</h2>
	     {% assign has_title = true %}
	     {% break %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="indentedgrid">
 
   <!--  <div class='other-projects clearfix'> -->
 
         {% for post in site.categories.scrap %}
 
	   {% if post.relatedproject contains {{page.projectid}} %}
             <scrap class='scrap grid_18 spacedgrid'>
                <a href="{{ post.url }}">
                     {% if post.thumbimg and post.thumbimg != "" %}
                             <img src="/resources/img/{{ post.thumbimg }}" alt="{{ post.thumbalt }}" >       
                     {% else %}
                             <table width = "200px" height = "170px"><tr><td>
                                     {{ post.excerpt }}
                             </td><tr></table>
                     {% endif %}
                     <strong>{{ post.title }}</strong>
                     </br><span class="date"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
                </a>
 
              </scrap>
           {% endif %}
         {% endfor %}
 
         {% for post in site.categories.scrap-archive %}
 
	   {% if post.relatedproject contains {{page.projectid}} %}
             <scrap class='scrap grid_18 spacedgrid'>
                <a href="{{ post.url }}">
                     {% if post.thumbimg and post.thumbimg != "" %}
                             <img src="/resources/img/{{ post.thumbimg }}" alt="{{ post.thumbalt }}" >       
                     {% else %}
                             <table width = "200px" height = "170px"><tr><td>
                                     {{ post.excerpt }}
                             </td><tr></table>
                     {% endif %}
                     <strong>{{ post.title }}</strong>
                     </br><span class="date"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
                </a>
  
              </scrap>
           {% endif %}
         {% endfor %}
 <!--    </div>  -->
 </div>



</body>
